/*CSS reset settings here*/
*{
 margin: 10px;
 padding: 10px;
}
#wrapper{
 width: 960px;
 height: 620px;
 background-color: rgb(38, 100, 151);
 margin: 10px auto;
 border-radius: 25px;
}
#header{
 height: 50px;
 background-color: red;
 border-radius: 25px;
}
h1{
 padding: 0px;
 color: aliceblue;
}
h2{
 color: aliceblue;
}
body{
 
}
#navigation{
 height: 400px;
 width: 200px;
 background-color: rgb(34, 167, 219);
 border-radius: 25px;
 display: inline-block;
}
#main_content{
 height: 400px;
 width: 670px;
 background-color: rgb(16, 23, 34);
 border-radius: 25px;
 display: inline-block;
 position: relative;
 bottom: 375px;
}
#advertisement{
 height: 50px;
 width: 920px;
 background-color: silver;
 border-radius: 25px;
 position: relative;
 bottom: 375px;
}